flask
qdrant-client
langchain
langchain-community
langchainhub
sentence-transformers
huggingface-hub
python-dotenv
qdrant-client

flask
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
huggingface-hub
torch
ollama
